{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Youtube</title>

    <link rel="stylesheet" href="{% static 'dist/css/video-preview.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/popup.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="left">
        <img class="ham" src="/static/dist/images/hamburger-menu.svg" />
        <img class="youtube" src="/static/dist/images/logo-dark.svg" />
      </div>
      <div class="right">
        <a href="#" onclick="document.body.classList.add('activeUploadForm')"
          ><img class="upload-icon" src="/static/dist/images/upload.svg"
        /></a>
        <img class="youtube-icon" src="/static/dist/images/youtube-apps.svg" />
        <div class="noti-icon-container">
          <img class="noti-icon" src="/static/dist/images/notifications.svg" />
          <div class="count">3</div>
        </div>
        <img
          class="current-user-picture"
          src="/static/dist/images/trig_account.jpg"
        />
      </div>
    </header>
    <div class="hero-media">
      <div class="header-illustration">
        <img
          class="header-illustration-image asset-dark"
          src="/static/dist/images/header-illustration-dark.svg"
          alt="Header illustration"
        />
      </div>
      <div class="hero-media-illustration">
        <img
          class="hero-media-illustration-image asset-dark"
          src="/static/dist/images/hero-media-illustration-dark.svg"
          alt="Hero media illustration"
        />
      </div>
    </div>

    <div class="video-grid" id="video-grid"></div>

    <!-- <div class="wrapper">
      <div class="popup">
        <div class="popup-inside">
          <div class="backgrounds">
            <div class="background"></div>
            <div class="background background2"></div>
            <div class="background background3"></div>
            <div class="background background4"></div>
            <div class="background background5"></div>
            <div class="background background6"></div>
          </div>
        </div>
        <div class="content">
          <form class="content-wrapper" ">
            <label for="name" class="label1">Name:</label>
            <input type="text" id="name" name="name" /><br /><br />
            <label for="email" class="label1">Email:</label>
            <input type="email" id="email" name="email" /><br /><br />
            <button type="submit">Enroll Now</button>
          </form>
          <span
            class="close-icon"
            onclick="document.body.classList.remove('active')"
            >&times;</span
          >
        </div>
      </div> -->

    <div class="wrapper">
      <div class="upload-popup">
        <div class="popup-inside">
          <div class="backgrounds">
            <div class="background"></div>
            <div class="background background2"></div>
            <div class="background background3"></div>
            <div class="background background4"></div>
            <div class="background background5"></div>
            <div class="background background6"></div>
          </div>
        </div>
        <div class="upload-content">
          <div class="upload-content-wrapper">
            <form
              method="post"
              enctype="multipart/form-data"
              action="{% url 'Upload' %}"
            >
              {% csrf_token %} {{ form.as_p }}
              <button type="submit">Submit</button>
            </form>
            <span
              class="close-icon"
              onclick="document.body.classList.remove('activeUploadForm')"
              >&times;</span
            >
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        fetch("{% static 'dist/data/videos.json' %}")
          .then((response) => response.json())
          .then((videos) => {
            const videoGrid = document.getElementById("video-grid");
            videos.forEach((video) => {
              const videoPreview = document.createElement("form");
              videoPreview.classList.add("video-preview");
              videoPreview.setAttribute("method", "POST");
              videoPreview.setAttribute("action", "{% url 'Main'%}");
              videoPreview.innerHTML = `
              
                <div class="thumbnail-row">
                  <img class="thumbnails" src="${video.thumbnail}" /><br />
                  <div class="vide-time">${video.video_time}</div>
                </div>
                <div class="video-grid-info">
                  <div class="channel-pic">
                    <img class="account-image" src="${video.channel_pic}" />
                  </div>
                  <div class="video-info">
                    <div class="video-title">
                      <p class="title-video">${video.title}<br /></p>
                      <button
                        class="button button-primary"
                        type="submit"
                      >
                        Enroll Now
                      </button>
                      <input type="hidden" name="video_path" class="video_path" value="${video.video_path}">
                    </div>
                    <p class="Youtuber">${video.description}</p>
                  </div>
                </div>
                
              `;
              videoGrid.appendChild(videoPreview);
            });
          });
      });
    </script>
  </body>
</html>
